.panolens-infospot {
  background: rgba(4,191,185,1);
  background: -moz-linear-gradient(-45deg, rgba(4,191,185,1) 0%, rgba(4,116,139,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(4,191,185,1)), color-stop(100%, rgba(4,116,139,1)));
  background: -webkit-linear-gradient(-45deg, rgba(4,191,185,1) 0%, rgba(4,116,139,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(4,191,185,1) 0%, rgba(4,116,139,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(4,191,185,1) 0%, rgba(4,116,139,1) 100%);
  background: linear-gradient(135deg, rgba(4,191,185,1) 0%, rgba(4,116,139,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04bfb9', endColorstr='#04748b', GradientType=1 );
  padding: 0.5rem 0.3rem;
  border-radius: 5px;
  width: auto;
  text-align: left;
  transition: opacity 0.3s;
  height: auto;
  font-size: 1.5rem;
  top: -13% !important;
  left: 0 !important;
}
